body {
    background-image: url("../images/leaves.png");
    background-repeat: repeat;
    cursor: url('path-to-image.png'), auto;	
    
}

header {
    background-color: #ffffff;
    margin: auto;
    width: 960px;
    width: 100%;
    height: 58px;
    font-family: 'Georgia', Times, "Times New Roman", serif;
    border-color: #cccccc;
    border-width: 1px;
    border-bottom-style: solid;
}

section {
    float: left;
    background-color: #ffffff;
    padding: 20px 20px;
}

#name {
    margin-left: 105px;
    background-color: #4aaaa5;
    padding: 20px 50px;
    color: white;
    font-size: 20px;
}

#about, #portfolio{
    float: right;
    background-color: #ffffff;
    margin-right: 10px;
    font-size: 14px;
}

#portfolio {
    border-left: 1px solid #eeeded;
    border-right: 1px solid #eeeded;
}

#contact {
    margin-right: 105px;
    float: right;
    background-color: #ffffff;
    font-size: 14px;
}

h2 {
    color: #4aaaa5;
}

div {
    color: #777777;
    margin: auto;
    width: 940px;
    margin-top: 50px;
    padding: 10px 10px;
    background-color: #ffffff;
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
    overflow: auto;
    margin-left: 105px;
}

#content {
    margin-left: 105px;
    margin-right: 105px;
    padding: 20px 50px;
    background-color: #ffffff;
    border-color: #dddddd;
    border-width: 1px;
    border-style: solid;
}

img {
    float: left;
    padding-right: 20px;
    padding-top: 10px;
}

p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

#gallery {

}

span {
    display: inline-block;
}

img {
    width: 30%;
}